<% if false %>
=== This file is part of Ballot <https://projects.kde.org/projects/websites/ballot-kde-org> ===

   Copyright 2011 Jeff Mitchell <mitchell@kde.org>

   Ballot is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.

   Ballot is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with Ballot. If not, see <http://www.gnu.org/licenses/>.
<% end %>

<h3>Login</h3>

<% if @status == "notcomplete" %>
   <font color="red">You must enter both a username and password.</font>
<% elsif @status == "notvalid" %>
   <font color="red">Your Identity credentials could not be validated. Try again.</font>
<% elsif @status == "yubikeyreplayed" %>
   <font color="red">Warning: Your YubiKey OTP was reported as being replayed and could not be validated.</font>
<% elsif @status == "yubikeyinvalid" %>
   <font color="red">Your YubiKey OTP could not be validated. Try again.</font>
<% elsif @status == "firstlogin" %>
   Please log in with your KDE Identity credentials to proceed.
<% end %>
<br /><br />
<form action="/login?votename=<%=h(@votename)%>" method="post">
   <label for="username">Username:</label>
   <input type="text" name="username" value="<%=h(@username)%>" class="width-50" autofocus/>

   <label for="password">Password:</label>
   <input type="password" class="width-50" name="password"/>

   <% if @use_yubikeys %>
      <label for="yubikeyotp">YubiKey OTP (if configured for your account):</label>
      <input type="text" class="width-50" name="yubikeyotp"/>
   <% end %>

   <br/><br/>
   <input class="btn bg-green" type="submit" value="Log in" />
</form>
