<% if false %>
=== This file is part of Ballot <https://projects.kde.org/projects/websites/ballot-kde-org> ===

   Copyright 2011 Jeff Mitchell <mitchell@kde.org>

   Ballot is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.

   Ballot is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with Ballot. If not, see <http://www.gnu.org/licenses/>.
<% end %>

Vote ID: <code><%=@votedata["id"]%></code>
<% if @votedata.has_key?("expiration") %>
    (<small>vote expires <%=Time.at(@votedata["expiration"]).utc%></small>)
<% end %>

<h2>Voting On:</h2>

<div class="vote-desc"><%=@votedata["description"]%></div>
<br /><br />

<% if @status == "returnvoter" %>
   Welcome back. <font color="green">You can change your vote</font>, but only if you provide the <b>exact</b> unique key you provided when you originally cast your vote.
<% elsif @status == "voted" and @scramblevalues == nil %>
   <font color="blue">You selected <%=@votedata["choices"][@votevalue]%>.</font><br /><br /><font color="green">You can change your vote.</font> Once you exit this page you will have to provide your <b>exact</b> unique key to change your vote!
<% elsif @status == "voted" %>
   <font color="blue">This vote has scrambling enabled for extra security; your vote has been recorded but cannot be displayed back to you.</font><br /><br /><font color="green">You can change your vote.</font> Once you exit this page you will have to provide your <b>exact</b> unique key to change your vote!<br /><br />Your ticket is: <font color="red"><%=@uservotesha%></font>. You can use this to verify your choice in the results. You can also peform manual verification by creating a SHA256 sum (using "echo -n [string] | sha256sum") of a concatenation (in order) of your username, your secret key, and this vote's salt, which is (without the quotes): "<font color="red"><%=@votedata["votehashsalt"]%></font>"
<% elsif @status == "failedchange" %>
   <font color="red">Could not change your vote; the unique key was not correct.</font>
<% elsif @status == "newvoter" %>
   Make your selection and re-voting key below. <span class="note">IMPORTANT:</span> Once you vote you will not be able to change your vote unless you provide that <strong>exact</strong> key!
<% elsif @status == "smssent" %>
   <font color="green">An SMS has been sent to your mobile phone. The decodes there are valid for this one page view only!</font><br /><br />This vote has scrambling enabled for extra security.<br /><br />Once you exit this page you will have to provide your <b>exact</b> unique key to change your vote!
<% elsif @status == "invitemailsent" %>
   <font color="green">Invite emails sent.</font>
<% elsif @status == "remindermailsent" %>
   <font color="green">Reminder mails sent.</font>
<% elsif @status == "resultsmailsent" %>
   <font color="green">Results mails sent.</font>
<% end %>
<br /><br />
<h3>Instructions:</h3>
<p><%=@votedata["instructions"]%></p>

<% if @scramblevalues and @show_sms == nil and @show_gpg == nil %>
   <font color="red">This vote is scrambled, but you have neither your SMS number nor your public ASCII-armored GPG key entered in Identity. Therefore the values cannot be displayed to you.</font><br />
<% else %>
   <% if @scramblevalues and @show_sms %>
      <form action="/vote/<%=@votename%>" method="post">
         <input class="btn btn-sm bg-blue" type="submit" name="send_sms" value="Send SMS with descrambled voting options" />
      </form>
   <% end %>
   <% if @administrator %>
      <form action="/vote/<%=@votename%>" method="post">
         <font color="green">You are an administrator of this vote, and you can send invite and reminder emails by clicking the buttons below:</font>
         <br />
         <input class="btn btn-sm bg-blue" type="submit" name="sendinvitemail" method="post" value="Send Invite Email">
         <input class="btn btn-sm bg-blue" type="submit" name="sendremindermail" method="post" value="Send Reminder Email">
         <% if @votecomplete %>
            <input class="btn btn-sm bg-blue" type="submit" name="sendresultsmail" method="post" value="Send Results Email">
         <% end %>
      </form>
      <br />
   <% end %>

   1. Make your selection<%= " (entries in randomized order)" if @scramblevalues%>:<br />
   <form action="/vote/<%=@votename%>" method="post">
      <% @votedata["choices"].each_key do |choice| %>
         <% if @scramblevalues %>
            <label><%= @scramblevalues[choice]%></label><input type="radio" name="selection" value="<%=@scramblevalues[choice]%>"/>
         <% else %>
            <label><input type="radio" name="selection" value="<%=choice%>" <%= "checked" if @votevalue == choice %>/> <%= @votedata["choices"][choice]%></label>
         <% end %>
      <% end %>

      <br />

      <label>2. Choose a unique key to use for changing your vote:
         <br />
         <input style="display:inline-block" type="text" name="userkey" value="<%=@userkey%>" placeholder="Text, symbols, spaces OK"/>
         <% if @status == "newvoter" %>
            <small class="note">This key applies only to this election and cannot be changed once set!</small>
         <% end %>
      </label>
      <br />
      <input class="btn bg-green btn-text-white" type="submit" name="votesubmit" value="3. Vote!" />
   </form>
<% end %>
<br /><br />
<a href="/votes">Open votes</a>
<br /><br />
<a href="/logout">Log out</a>
