<% if false %>
=== This file is part of Ballot <https://projects.kde.org/projects/websites/ballot-kde-org> ===

   Copyright 2011 Jeff Mitchell <mitchell@kde.org>

   Ballot is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.

   Ballot is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with Ballot. If not, see <http://www.gnu.org/licenses/>.
<% end %>

<h3>Your available votes:</h3>

<% if @votes.length == 0 %>
   <p>There are no votes available to you at this time.</p>
<% else %>
   <table class="table">
   <tr>
      <th>Vote ID</th>
      <th>Description</th>
      <th>Valid Until</th>
   </tr>
   <% @votes.each_key do |vote| %>
      <tr>
         <th><a href="/vote/<%=vote%>"><%=@votes[vote]["id"]%></a></th>
         <th><%=@votes[vote]["description"]%></th>
         <% if @votes[vote].has_key?("expiration") %>
            <th><%=Time.at(@votes[vote]["expiration"]).utc%></th>
         <% else %>
            <th>No expiration listed</th>
         <% end %>
      </tr>
   <% end %>
   </table>
<% end %>

<br /><br />
<a href="/logout">Log out</a>
